body {
    background: #1E1E1E;
    color: #FBD805;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p {
    text-align: justify;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: #DB4A13 !important;
}

/* identificadores  */
#main-body {
    color: #1E1E1E;
    opacity: 80%;
}

/* classes */
.nav-item a {
    color: #FBD805;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #DB4A13 !important;
}

.logo_rede_social {
    margin: 10px 0px;
}

.card {
    background-blend-mode: lighten;
    background-color: #D9D9D9;
}